* {
    margin: 0;
    padding: 0;
}

div {
    border: 2px solid black;
    border-radius: 15px;
    background-color: burlywood;
}

#title-header {
    color: black;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#titulo-campos {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#inerbox-campos {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.input-boxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
}

.inputbox-title {
    margin: 10px;
    text-align: left;
}

.inputbox {
    margin: 15px;
    padding: 5px;
}

#button-calc {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#button-calc-text {
    border-radius: 15px;
    background-color: rgb(137, 174, 128);
    border: 2px solid black;
    padding: 15px;
}

#button-calc-text:hover {
    transition: 0.1s;
    background-color: chartreuse;
    cursor: pointer;
}

#con-tabela {
    display: flex;
    justify-content: center;
}

td {
    padding: 15px;
    border: 2px solid black;
}